body {
    background-color: #1b1b1b;
}

header img {
    width: 90%;
    margin-left: 4.5%;
    margin-top: 5%;
}

.contenedor {
    width: 80%;
    height: 80%;
    margin: auto;
}

.main {
    margin-top: 150px;
}

.main h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px;
    color: white;
}

.main img {
    width: 30%;
    border-radius: 50%;
    margin-left: 2.4%;
    margin-top: 2%;
}

.descarga {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
    margin: auto;
    font-weight: bold;
    font-size: 25px;
    width: 300px;
    height: 50px;
    padding-top: 10px;
    margin-top: 100px;
    background-color: #f13669;
    transition-duration: 1s;
}

.descarga:hover {
    color: white;
}

.second{
    width: auto;
    background-color: #e6527a;
    font-weight: bold;
}

.second h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 300px;
    padding-top: 50px;
}

.second h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    width: 200px;
    margin: auto;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    
}

.second h4 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 50px;
}